@model SistemaHoteleiro.Models.Room

@{
    ViewData["Title"] = "Editar quarto";
}

<h1>Editar quarto</h1>

<h4>Quarto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Número do quarto:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="CategoryRoomId" class="control-label">Categoria de quarto</label>
                <select class="form-select form-control" asp-for="CategoryRoomId" asp-items="@ViewBag.CategoryRooms"></select>
                <span asp-validation-for="CategoryRoomId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">De volta á lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
