@model SistemaHoteleiro.Models.Sale

@{
    ViewData["Title"] = "Nova Venda";
}

<h1>Nova Venda</h1>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
        @Html.HiddenFor(model => model.ReserveId)
        <div asp-validation-summary="All" class="text-danger"></div>
           <div class="form-group">
                <label asp-for="ProductId" class="control-label">Produto</label>
                <select class="form-select form-control" asp-for="ProductId" asp-items="@ViewBag.Products"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
           <div class="form-group">
               <label asp-for="Amount" class="control-label">Quantidade</label>
               <input asp-for="Amount" class="form-control"/>
               <span asp-validation-for="Amount" class="text-danger"></span>
           </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">De volta รก lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
