@model SistemaHoteleiro.Models.Reserve

@{
    ViewData["Title"] = "Editar reserva";
}

<h1>Editar reserva</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                 <label asp-for="GuestId" class="control-label">Hóspede</label>
                <select class="form-select form-control" asp-for="GuestId" asp-items="@ViewBag.Guests"></select>
                <span asp-validation-for="GuestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="RoomId" class="control-label">Quarto</label>
                <select class="form-select form-control" asp-for="RoomId" asp-items="@ViewBag.Rooms"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fone" class="control-label">Fone</label>
                <input asp-for="Fone" class="form-control" />
                <span asp-validation-for="Fone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label">Cidade</label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label">Check-in</label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label">Check-out</label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">De volta á lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
